.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.modal {
  border: none;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 20px 20px 32px 20px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 60px);
  width: 100vw;
  top: 60px;
  z-index: 20;

  @media (min-width: 640px) {
    padding: 20px;
  }
}

@media (min-width: 640px) {
  .modal {
    height: auto;
    width: 30rem;
    top: 10%;
  }
}
