@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-gray: #242424;
  --primary-light-gray: #414141;
  --primary-lightest-gray: #a7a7a8;
  --primary-white: #f9f9f9;
  --primary-purple: #646cff;
  --primary-gold: #ffd700;
  --primary-red: #e84a4a;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--primary-gray);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-white);
  font-family: "var(--font-urbanist)", sans-serif;
  line-height: 1.2;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  grid-column: 1 / -1;
  height: 60px;
}

p {
  color: var(--primary-white);
}

.about-page p {
  margin-bottom: 1rem;
  font-family: "var(--font-work-sans)", sans-serif;
}

input {
  color: var(--primary-gray);
  border-radius: 0.25rem;
}

input::placeholder {
  color: var(--primary-gray);
}

.button {
  border-radius: 0.25rem;
  border: 0.0625rem solid transparent;
  color: var(--primary-white);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-purple);
  cursor: pointer;
  transition: border-color 0.25s;
  box-sizing: border-box;
}

.button--secondary {
  background-color: var(--primary-light-gray);
}

.button--danger {
  background-color: var(--primary-red);
}

.button:disabled {
  cursor: not-allowed;
}

.button--link {
  background-color: transparent;
  border: none;
  color: var(--primary-purple);
  padding: 0.2em 0.4em;
}

.button--icon {
  border-radius: 100%;
  padding: 0.75rem;
}

.button:hover {
  border-color: var(--primary-purple);
}
.button:focus,
.button:focus-visible {
  outline: 0.5rem auto -webkit-focus-ring-color;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;
  height: 100dvh;
}

.gm-title {
  color: #333;
}

@media (max-width: 768px) {
  .grid-layout {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }

  .header {
    grid-row: 1;
  }
}
