.nav ul {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  gap: 0.5rem;

  @media (min-width: 640px) {
    display: flex;
    gap: 1rem;
  }
}

.search_form {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  display: none;

  @media (min-width: 640px) {
    display: flex;
    position: relative;
    width: auto;
  }
}

.search_form.open {
  @media (max-width: 640px) {
    backdrop-filter: blur(5px);
    display: flex;
    position: absolute;
    z-index: 999;
    top: 60px;
    left: 0;
    width: 100%;
    justify-content: center;
  }
}

.autocomplete_container {
  min-width: 257px;
}

.search_form input {
  @media (min-width: 768px) {
    background-color: var(--primary-light-gray);
    color: var(--primary-gray);
  }

  &::placeholder {
    color: var(--primary-gray);

    @media (min-width: 768px) {
      color: var(--primary-white);
    }
  }
}
