.bike-lock-marker {
  cursor: pointer;
  position: relative;
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

.bike-lock-marker .triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 8px solid var(--primary-gray);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  z-index: -1;
  left: 50%;
  transform: translateY(22%) translateX(-50%) rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.custom-pin {
  position: relative;
  height: 34px;
  width: fit-content;
  max-width: 34px;
  padding: 4px;
  background-color: var(--primary-gray);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: bottom;
  transition:
    max-width 0.2s ease-in-out,
    height 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.custom-pin .close-button {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  border: none;
  box-shadow: none;
  background: none;
  color: var(--primary-gray);
  cursor: pointer;
}

.custom-pin .image-container {
  width: 100%;
  height: 100%;
  max-width: 285px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.custom-pin .image-container .image {
  height: 100%;
  object-fit: contain;
  display: block;
}

.custom-pin .image-container .icon {
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.bike-lock-marker.hovered {
  z-index: 2;

  transform: translateY(-9px);
}
.bike-lock-marker.hovered .custom-pin {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.bike-lock-marker.hovered
  .custom-pin
  .image-container {
  opacity: 1;
  border-radius: inherit;
}

.bike-lock-marker.hovered
  .custom-pin
  .image-container
  .icon {
  opacity: 0;
}

.bike-lock-marker.hovered .triangle {
  transform: translateY(23%) translateX(-50%) rotate(45deg) scale(1.4);
}

.bike-lock-marker.clicked {
  z-index: 3;

  transform: translateY(-9px);
}

.bike-lock-marker.clicked .custom-pin {
  background-color: var(--primary-gray);
  border-radius: 0;
  width: fit-content;
  max-width: 625px;
  height: 250px;
}

.bike-lock-marker.clicked
  .custom-pin
  .image-container {
  border-radius: inherit;
}

.bike-lock-marker.clicked
  .custom-pin
  .image-container
  .icon {
  opacity: 0;
  visibility: hidden;
}

.bike-lock-marker.clicked
  .custom-pin
  .details-container {
  max-width: 380px;
  opacity: 1;
  visibility: visible;

  animation: slideInFadeIn 0.7s ease-in-out;
}

.bike-lock-marker.clicked
  .custom-pin
  .details-container
  .close-button {
  display: flex;
}


.bike-lock-marker.clicked
  .custom-pin
  .details-container
  .close-button
  span {
  font-size: 24px;
}

.bike-lock-marker.clicked .triangle {
  transform: translateY(23%) translateX(-50%) rotate(45deg) scale(1.4);
}

@keyframes slideInFadeIn {
  0% {
    max-width: 0;
    opacity: 0;
    visibility: hidden;
  }

  75% {
    max-width: 380px;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    max-width: 380px;
    opacity: 1;
    visibility: visible;
  }
}

.details-container {
  background-color: var(--primary-gray);
  height: 100%;
  opacity: 0;
  max-width: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  visibility: hidden;
}

.listing-image {
  height: auto;
  width: 200px;
  object-fit: cover;
}

.listing-content {
  height: 100%;
  padding: 24px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.listing-content h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin: 0;
}

.listing-content p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.2px;
  margin: 0;
}

.listing-content .description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.details .detail_item {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.2px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.ratings__heading {
  font-size: 14px;
  font-weight: 600;
}

.ratings__stars {
  display: flex;
  gap: 4px;
}

.star-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

/*hide away the actual radio inputs*/
.star {
  position: fixed;
  opacity: 0;
  left: -90000px;
}

.star:focus + .star-label {
  outline: 2px dotted black;
}
.star-shape {
  background-color: gold;
  width: 80%;
  height: 80%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star:checked + .star-label ~ .star-label .star-shape {
  background-color: lightgray;
}