.sidebar {
  width: 18rem;
  background-color: var(--primary-gray);
  z-index: 15;

  @media (max-width: 768px) {
    width: 100%;
    position: absolute;
    top: unset;
    bottom: 0;
  }
}
.actions {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    margin-bottom: 1rem;
  }
}
